@charset "utf-8";
/* 각종 태그 리셋 & 공통 스타일 */

/* 개인 스타일 임포트 - 추후 병합 
@import url("temp_kjo.css"); 김정오
@import url("temp_njw.css"); 나정원
@import url("temp_psh.css"); 박성호
@import url("temp_peg.css"); 박응규*/


/* :root 매번 사용할 컬러들을 변수 지정하여 사용 */
:root {
	--100vh: calc(var(--vh, 1vh) * 100);
	--100vw: calc(var(--vw, 1vw) * 100);
	--scalew: var(--scalew);

	/*  primary :메인컬러
		- 그 외 순서대로 티어 낮음
		- 디자인 미정으로 컬러 비워 둠 / 확정 후 정의

	--primary: ;
	--secondary: ;
	--tertiary: ;
	*/

	--positive: #1C57F8;
	--negative: #D21300;

	/* 이하 컬러  임의 설정 */

	/* 배경색 */
	--bg-01: #F0F2F7;
	--bg-02: #F7F8FA;
	--bg-03: #F1F1F1;
	--bg-04: #D9D9D9;
	--bg-readonly: #f8f8f8;
	--bg-disabled: #f8f8f8;
	--contained-disabled: #CCCCCC;
	--contained-dismiss: #888888;

	--bg-fff: #FFFFFF;
	--bg-dim-white: rgba(255, 255, 255, 80%);
	--bg-dim-black: rgba(0, 0, 0, 80%);

	/* 보더 및 라인 */
	--line-01: #111111;
	--line-02: #DFE4EA;
	--line-03: #EBEEF2;
	--line-04: #F7F8FA;

	/* 폰트 컬러 */
	--ff-default: "NanumSquareNeo", "AppleGothicNeoSD", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Droid sans", "Malgun Gothic", "맑은 고딕", "Helvetica", "Dotum", "돋움", "sans-serif";
	--fc-111: #111;
	--fc-333: #333;
	--fc-666: #666;
	--fc-888: #888;
	--fc-aaa: #AAAAAA; /* disable */
	--fc-ccc: #CCCCCC;
	--fc-fff: #FFFFFF;
  }



body, div, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, form, fieldset, legend, button, p, pre, blockquote, menu, figure, input {margin: 0;padding: 0;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display: block;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, select, input, textarea, p, blockquote, th, td, menu, button, a, span, strong, label, header, footer, section, article, aside, nav, hgroup, details, figure, figcaption {box-sizing: border-box;}
h1, h2, h3, h4, h5, h6, input, select, textarea, button, option {font-weight: normal;color: inherit;}
pre, code, samp, kbd {font-family: inherit;}
h1, h2, h3, h4, h5, h6, strong, b, th {font-weight: bold;}
em, var, address {font-style: normal;}
ul, ol, li {list-style: none;}

legend, fieldset, button, img {border: 0 none;}
input, select, textarea, button, label, strong, a, time {vertical-align: inherit;}
input, select, textarea, button, option {font-family: inherit;font-weight: inherit;}
/* input, select, textarea {appearance: none;-webkit-appearance: none;} */
input[type="text"]::-webkit-search-cancel-button {appearance: none;-webkit-appearance: none;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {-webkit-appearance: none;}
button, select, option {color: inherit;text-transform: none;}
textarea {resize: none;}
caption, legend {position: absolute;width: 1px;height: 1px;overflow: hidden;margin: -1px;clip: rect(0, 0, 0, 0);}
table {border-collapse: collapse;border-spacing: 0;}
button {overflow: visible;text-align: left;cursor: pointer;background: none;}



html, body,
h1, h2, h3, h4, h5, h6,
input, select, textarea, button, option,
.ui-widget, .ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button {
  font-family: var(--ff-default);
  font-size: 1rem;
}

html,
body {font-size: 16px;color: var(--fc-111);scroll-behavior: smooth;}

html, body {font-weight: normal;}
h1, h2, h3, h4, h5, h6 {font-weight: bold;}
ul, ol, li {list-style:none;}
a {color: inherit;text-decoration: none;}

html {height: 100%;}
body {min-height: 100%;}
body {overflow-x: hidden;}
img {vertical-align: middle;}
p {line-height: 1.5;word-break: keep-all;overflow-wrap: break-word;}



h1, h2, h3, h4, h5, h6 {line-height: normal;font-weight: bold;word-break: keep-all;overflow-wrap: break-word;}

/* pc기준 폰트 사이즈 */
h1 {font-size: 2rem;}		/* 32px */
h2 {font-size: 1.75rem;}	/* 28px */
h3 {font-size: 2rem;}  		/* 32px */
h4 {font-size: 1.5rem;} 	/* 24px */
h5 {font-size: 1.25rem;}	/* 20px */
h6 {font-size: 1rem;} 		/* 16px */

/* text - 정렬*/
.tal {text-align: left;}
.tac {text-align: center;}
.tar {text-align: right;}

/* display */
.dsi {display: inline;}
.dsib {display: inline-block;}
.dsb {display: block;}

.dsf {display: flex;}
.dsif {display: inline-flex;}
.fdc {flex-direction: column !important;}
.jcc {justify-content: center !important;}
.jcfs {justify-content: flex-start !important;}
.jcfe {justify-content: flex-end !important;}
.aic {align-items: center !important;}
.aifs {align-items: flex-start !important;}
.aife {align-items: flex-end !important;}
.gap-0 {display: flex;}
.gsb-0 {flex-grow: 0;flex-shrink: 0;flex-basis: 0;}
.gsb-1 {flex-grow: 1;flex-shrink: 1;flex-basis: auto;}
.basis-0{flex-basis: 0 !important;}

em {}
.negative {color: var(--negative) !important;}
.strong {font-weight: bold;}
.basis-0{flex-basis: 0 !important;}
.inputs.basis-0 > .input {flex-grow: 1;flex-shrink: 1;flex-basis: 0;}
.button-bar.basis-0 > .custom-button {flex-grow: 1;flex-shrink: 1;flex-basis: 0;}
.bold {font-weight: bold;}

/* hr - 수평선 */
hr {display: block;height: 1px;line-height: 0;font-size: 0;margin-top: 8px;margin-bottom: 8px;border: 0;}
hr {color: var(--light-bc-01);background-color: var(--light-bc-01);}

sup,
sub {position: relative;height: 0;line-height: 1;vertical-align: baseline;}
sup {bottom: 0.2em;}
sup.ess,
sup.ref {position: relative;bottom: 0.5em;height: 0;line-height: 1;vertical-align: baseline;font-size: .875rem;font-weight: bold;margin: 0 0.2em;}
sup.ess {color: #a90f39;}
sup.ess:before{display: inline-block;position: absolute;top: 0;left: 0;width: 1px;height: 1px;overflow: hidden;font-size: 1px;content: "필수입력";clip: rect(1px, 1px, 1px, 1px);}
sub {top: 0.5em;}

span.icn,
span.lbl,
span.num,
span.val,
span.sprt,
span.prefix,
span.suffix {
	display: inline-block;
	vertical-align: middle;
}

/* a11y 접근성*/
.clipped {position: absolute;width: 1px;height: 1px;overflow: hidden;margin: -1px;clip: rect(0, 0, 0, 0);}
figcaption {position: absolute;width: 1px;height: 1px;overflow: hidden;margin: -1px;clip: rect(0, 0, 0, 0);}
.transparent {opacity: 0 !important;}


/* input */
input:read-only:not(.datepicker),
textarea:read-only {color: var(--fc-666);border-color: #ddd;background-color: var(--bg-readonly);}
input:read-only:not(.datepicker) + .search-button {background-color: var(--bg-readonly);}
input:read-only:focus,
textarea:read-only:focus {outline: 0;}
input:disabled,
textarea:disabled {color: var(--fc-666);border-color: #ddd;background-color: var(--bg-disabled);}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="search"],
textarea {color: var(--fc-111);border: 0;border-radius: 8px;}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="search"] {height: 52px;padding: 0 16px;}
textarea {padding: 16px;}
input::placeholder,
textarea::placeholder {color: var(--fc-aaa);}
textarea {min-height: 170px;}


.container {position: relative;}
header,
main,
footer {position: relative;}

section {display:flex;flex-direction: column;align-items: center;position: relative;}
article {position: relative;width: 1120px;}


.mobile-only {display: none !important;}
.pc-only {display: block !important;}